{% extends 'base.html' %} 

{% block title %}
FinTrans | {{user}}'s Fixed Deposit
{% endblock %} 

{% load static %}

{% block css_files %}
<link href="{% static 'css/table.css' %}" rel="stylesheet" />
{% endblock %} 

{% block content %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fixed Deposit</h1>
  </div>
  <div class="row">
    <div class="dash_table">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Fixed Deposit Your Money
          </h6>
        </div>
        <div class="card-body">
          <div class="container p-0">
            <div class="card px-4">
              <div class="row gx-3">
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="text mt-3 mb-1">User Name</p>
                    <input
                      class="form-control mb-3"
                      type="text"
                      readonly
                      placeholder="Enter User Name"
                      value = {{user}}
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="text mb-1">Account Number</p>
                    <input
                      class="form-control mb-3"
                      type="text"
                      readonly
                      placeholder="Enter Account Number"
                      value={{accountnumber}}
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="text mb-1">Amount ( In Rupees )</p>
                    <input
                      class="form-control mb-3"
                      type="number"
                      placeholder="Enter Amount"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="btn btn-primary mb-3">
                    <span class="ps-3">Fixed Deposit</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="btn btn-danger mb-3">
                    <span class="ps-3">Cancel</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
